In [ ]:
API(application programming interface) is a set of rules and protocals which enables
to communicate or interchange infromation between two or more softaware application with
each other in the form of request(client) and response(data).

REST API(Representation state transfer)
REQUEST :HTTP METHOD (GET,POST,PUT,DELETE, etc.)
DATA FORMAT : JSON,XML

TYPES OF APIs:
1.Based on exposure (who can access them).
2.Based on architecture (communication logic design logic)

1.Based on exposure (who can access them).
    1.Public API (Open API) Ex.wheaterapi , twitterapi
    2.Private API (Internal API) Ex.Frontend calls backend (no public access)
    3.Partner API : Access Control through APIs keys , OAuth, IP whitelisting EX.payment gateway.
    4.Composite API : Combines multiple APIs in one request.

2.Based on architecture.
    1.REST API : HTTP METHODS , JSON . EX. web apps , mobile apps ,Public APIs
    2.SOAP API (Simple object access protocol): Only XML , HTTP , SMTP . EX.Banking apis.
    3.GraphQL API.
    4.gRPC(Google Remote Procedure call) : HTTP/2
    5.WebSocket API : full duplex : chats , liver trading system .

In [ ]:
import requests
import pandas as pd
import mysql.connector
endpoint=r"https://jsonplaceholder.typicode.com/users"
response=requests.get(endpoint)

create_table="""
        CREATE TABLE IF NOT EXISTS APIS_DATA (
        ID INT AUTO_INCREMENT PRIMARY KEY ,
        NAME VARCHAR(100), 
        USERNAME VARCHAR(100),
        EMAIL VARCHAR(200),
        WEBSITE VARCHAR(300),
        CITY VARCHAR(300)
        );
        """
if response.status_code==200:
    data=response.json()
    df=pd.json_normalize(data)

    values=[]
    for i,row in df.iterrows():
        values.append(
            (
             row['name'],
             row["username"],
             row["email"],
             row["website"],
             row["address.city"]
            )
        )
    print(values)

insert="""
INSERT INTO APIS_DATA (NAME,USERNAME,EMAIL,WEBSITE,CITY)
VALUES(%s , %s ,%s ,%s, %s)
"""
       

with mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@123",
    database="batch_100"
) as agent:

    with agent.cursor() as cursor:
        cursor.execute(create_table)
        cursor.executemany(insert,values)
        agent.commit()
        print("Data Inserted..")

In [1]:
import requests
import pandas as pd
url=r"https://test.devilhai.online/all_accounts"
data=requests.get(url)
res=data.json()
print(res)
# df=pd.json_normalize(res)
# df

[{'id': 110, 'cus_ac_no': '8322802', 'cus_ac_holder': 'radhe', 'cus_mob': '974536283', 'cus_address': 'radhe', 'created_at': '2026-02-19T02:19:38.841820Z', 'updated_at': '2026-02-19T02:19:38.841846Z'}, {'id': 111, 'cus_ac_no': '8322802', 'cus_ac_holder': 'radhe', 'cus_mob': '974536283', 'cus_address': 'radhe', 'created_at': '2026-02-19T02:19:40.304173Z', 'updated_at': '2026-02-19T02:19:40.304199Z'}, {'id': 112, 'cus_ac_no': None, 'cus_ac_holder': 'Abhay', 'cus_mob': '7518009398', 'cus_address': 'IQ_India', 'created_at': '2026-02-19T04:27:31.649199Z', 'updated_at': '2026-02-19T04:27:31.649228Z'}]

In [2]:
import requests
url=r"https://test.devilhai.online/create_account/"
payload={
        "cus_ac_no": "90000000",
        "cus_ac_holder": "python",
        "cus_mob": "78779999",
        "cus_address": "python"
}
response=requests.post(url,json=payload)
print(response.status_code)

201

In [ ]:
import requests
base_url=r"https://test.devilhai.online/delete_account/"
for user_id in range(1,100):
    url=f"{base_url}{user_id}/"
    response=requests.delete(url)
    print(f"Deleting ID {user_id} : {response.status_code}")

Deleting ID 1 : 200
Deleting ID 2 : 200
Deleting ID 3 : 200
Deleting ID 4 : 200
Deleting ID 5 : 200
Deleting ID 6 : 200
Deleting ID 7 : 200
Deleting ID 8 : 200
Deleting ID 9 : 200
Deleting ID 10 : 200
Deleting ID 11 : 200
Deleting ID 12 : 404
Deleting ID 13 : 404
Deleting ID 14 : 200
Deleting ID 15 : 200
Deleting ID 16 : 200
Deleting ID 17 : 200
Deleting ID 18 : 200
Deleting ID 19 : 200
Deleting ID 20 : 200
Deleting ID 21 : 200
Deleting ID 22 : 200
Deleting ID 23 : 200
Deleting ID 24 : 200
Deleting ID 25 : 200
Deleting ID 26 : 200
Deleting ID 27 : 200
Deleting ID 28 : 200
Deleting ID 29 : 200
Deleting ID 30 : 200
Deleting ID 31 : 200
Deleting ID 32 : 200
Deleting ID 33 : 200
Deleting ID 34 : 404
Deleting ID 35 : 404
Deleting ID 36 : 200
Deleting ID 37 : 200
Deleting ID 38 : 200
Deleting ID 39 : 404
Deleting ID 40 : 404
Deleting ID 41 : 404
Deleting ID 42 : 404
Deleting ID 43 : 404
Deleting ID 44 : 404
Deleting ID 45 : 404
Deleting ID 46 : 404
Deleting ID 47 : 404
Deleting ID 48 : 404
Deleting ID 49 : 404
Deleting ID 50 : 404
Deleting ID 51 : 404
Deleting ID 52 : 404
Deleting ID 53 : 404
Deleting ID 54 : 404
Deleting ID 55 : 404
Deleting ID 56 : 404
Deleting ID 57 : 404
Deleting ID 58 : 404
Deleting ID 59 : 404
Deleting ID 60 : 404
Deleting ID 61 : 404
Deleting ID 62 : 404
Deleting ID 63 : 404
Deleting ID 64 : 404
Deleting ID 65 : 404

In [4]:
import pandas as pd
import requests
base_url=r"https://test.devilhai.online/all_accounts/"
response=requests.get(base_url)
res=response.json()
df=pd.json_normalize(res)
df.columns=df.columns.str.upper()
df

,ID,CUS_AC_NO,CUS_AC_HOLDER,CUS_MOB,CUS_ADDRESS,CREATED_AT,UPDATED_AT
0,39,90000000,python,78779999,python,2026-02-18T11:29:16.509282Z,2026-02-18T11:29:16.509311Z
1,40,None,None,None,None,2026-02-18T11:30:47.929194Z,2026-02-18T11:30:47.929221Z
2,41,None,None,None,None,2026-02-18T11:30:49.109674Z,2026-02-18T11:30:49.109702Z
3,42,None,None,None,None,2026-02-18T11:30:51.074140Z,2026-02-18T11:30:51.074169Z
4,43,None,None,None,None,2026-02-18T11:30:52.931669Z,2026-02-18T11:30:52.931697Z
5,44,None,None,None,None,2026-02-18T11:30:54.121044Z,2026-02-18T11:30:54.121069Z
6,45,None,None,None,None,2026-02-18T11:30:55.237257Z,2026-02-18T11:30:55.237282Z
7,46,None,None,None,None,2026-02-18T11:30:57.188143Z,2026-02-18T11:30:57.188170Z
8,47,None,None,None,None,2026-02-18T11:30:58.465290Z,2026-02-18T11:30:58.465317Z
9,48,None,None,None,None,2026-02-18T11:31:05.055114Z,2026-02-18T11:31:05.055144Z
10,49,9000000000,python,75977998,python,2026-02-18T11:31:10.860397Z,2026-02-18T11:31:10.860423Z