In [ ]:
#=========================== Dictionary
# Defination
# Properties
# Creation
# Indexing ❌
# Slicing ❌
# Traversing
# in-built methods
# Assignment

In [ ]:
# Defination & Properties
# 1.Dictionary is a data structure used to store multiple itmes in the form of
# key:value pair.
# 2.Dictionary are mutable
# 3.Dictionary does not support indexing it works on the keys.
# 4.Dictionary keys must be unique and only support data type(string,num,tuple)
# 5.In dictionary each key:value pair represents one unique entity
# 6.Dictionary formed by using {}.

In [8]:
# Creation
my_entity={1:"aman","a":"python",1:"mumbai"}
print(my_entity)
print(len(my_entity))

# method for casting.
dict()

{1: 'mumbai', 'a': 'python'}
2

In [16]:
my_entity={1:"aman","a":"python"}
print(my_entity)
print(my_entity[1,"a"])

{1: 'aman', 'a': 'python'}

KeyError: (1, 'a')

In [18]:
# in-built methods.
# key()
my_data={"a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
print(my_data.keys())

dict_keys(['a', 'm', 1, 2, 't'])

In [19]:
# values()
my_data={"a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
print(my_data.values())

dict_values(['Delhi', 'mumbai', 100, 2000, 'tuesday'])

In [20]:
# items()
my_data={"a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
print(my_data.items())

dict_items([('a', 'Delhi'), ('m', 'mumbai'), (1, 100), (2, 2000), ('t', 'tuesday')])

In [27]:
# get()
my_data={"a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
print(my_data.get("a","N/A"))

Delhi

In [35]:
# zip()
l1=[1,2,3,4,5]
l2=["a","b"]
res=dict(zip(l2,l1))
print(res)

{'a': 1, 'b': 2}

In [38]:
my_data={"a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
res=my_data.pop(1)
print(res)
print(my_data)

100
{'a': 'Delhi', 'm': 'mumbai', 2: 2000, 't': 'tuesday'}

In [41]:
my_data={
    "b":"noida",
    "a":"Delhi",
         "m":"mumbai",
         1:100,
         2:2000,
         "t":"tuesday"}
my_data.popitem()
print(my_data)

{'b': 'noida', 'a': 'Delhi', 'm': 'mumbai', 1: 100, 2: 2000}

In [ ]:
# update (SA)

In [49]:
# fromkeys()
keys_set={"a","e","i","o","u"}
my_list=["aman","naman"]
value=my_list[0]
vowel_dictionary=dict.fromkeys(keys_set,value)
print(vowel_dictionary)

{'i': 'aman', 'o': 'aman', 'u': 'aman', 'e': 'aman', 'a': 'aman'}

In [11]:
# Traversing
# my_data={6: 'noida', 1: 'Delhi', 2: 'mumbai', 3: 100, 4: 2000}
# size=len(my_data)
# for i in range(size):
#     print(my_data[i])

In [32]:
# my_data={'b': 'noida', 'a': 'Delhi', 'm': 'mumbai', 1: 100, 2: 2000}
# for k,v in my_data.items():
#     print(k,"=>",v)

b => noida
a => Delhi
m => mumbai
1 => 100
2 => 2000

In [40]:
# my_data={'b': 'noida', 'a': 'Delhi', 'm': 'mumbai', 1: 100, 2: 2000}
# print(my_data.get(2))

2000