In [39]:
#------------------------------------ Functions

# 1.Every function has thier own purpose.
# 2.Fuctions are block of code than can be reuse.
# 3.Function increase the readebility of code and easy to debug.
# 4.Fuction use to DRY.

# Defining a function , calling a function

# Parameters and arguments
    # Default parameter
    # Positional args.
    # keyword args.
    # Arbitrary args.

# return keyword

# Category of function
    # 1.Take nothing return nothing
    # 2.Take nothing return something
    # 3.Take something return something
    # 4.Take somthing return nothing

# lambda functions (anonymous function)

# HOF (Higher-order-functions)
 # filter()
 # map()
 # reduce()

In [40]:
# Defining a function , calling a function.
def fun(): # Defining
    '''
    This is just normal testing 
    function in python for learing purpose
    docstring
    '''
    print("Data Science")
fun() #calling
print(fun.__doc__)

Data Science

This is just normal testing
function in python for learing purpose
docstring

In [82]:
def add(num1,num2):
    res1=num1+num2
    print(res1)
num1=int(input("Enter n-1 "))
num2=int(input("Enter n-2 "))
add(num1,num2)

Enter n-1  5
Enter n-2  7

12

In [59]:
# local scope and global scope.
name="Dev"
def greet():
    print("FIN",name)
greet()
print("FOUT",name)

FIN Dev
FOUT Dev

In [77]:
def hello():
    age=50
    new_name1="Aman"
    
    print("FIN",new_name1)
    print(new_name1)
    
hello()

print("FOUT",new_name1)
print(age)

FIN Aman
Aman
FOUT Aman
50

In [7]:
# Menu-driven-program.
print("""
PRESS 1 FOR ADD
PRESS 2 FOR SUB
PRESS 3 FOR DIV
PRESS 4 FOR PROD
""")

choice=input("Enter Your choice :")

def add(a,b):
    res=a+b
    print("Total :",res)

def sub(a,b):
    res=a-b
    print("Total :",res)
    
if choice=="1":
    print("Adding operation")
    a=int(input("Enter Your number 1st : "))
    b=int(input("Enter Your number 2nd : "))
    add(a,b)

elif choice=="2":
    print("Subtraction operation")
    a=int(input("Enter Your number 1st : "))
    b=int(input("Enter Your number 2nd : "))
    sub(a,b)

PRESS 1 FOR ADD
PRESS 2 FOR SUB
PRESS 3 FOR DIV
PRESS 4 FOR PROD

Enter Your choice : 2

Subtraction operation

Enter Your number 1st :  4
Enter Your number 2nd :  3

Total : 1

In [40]:

def product(n1,n2):
    res=n1*n2
    return res
store=product(20,30)
print(store)

600

In [ ]:
def connect_db():
    connection=kjflk
    shfjsd
    jsdhfkjsd
    khjdkfsd
    return connection

def read_data():
    res=connect_db()
    

    data=slect * from db
    print(data)
    

def create_data():
    res=connect_db()

    data=insert into
    print(data)

def delete_data():
    res=connect_db()

    data=delete into
    print(data)

def show_data():
    res=connect_db()
    pass

def search_by_id():
    res=connect_db()
    pass

In [ ]:
# Category of function
    # 1.Take nothing return nothing
    # 2.Take nothing return something
    # 3.Take something return something
    # 4.Take somthing return nothing

In [10]:
# Default parameter
def add(num1=0,num2=0,num3=0):
    res1=num1+num2+num3
    return res1
num1=30
num2=40
num3=20
value=add()
print(value)

0

In [12]:
# Positional args
def login(username,password):
    if username and password:
        print("Username :",username)
        print("Password :",password)
        print("Login Successfully ✅")

login("pass1234","dev@1234")

Username : pass1234
Password : dev@1234
Login Successfully ✅

In [41]:
# keywords args
def login(**k):
    if k['username'] and k.get("password"):
        print("Username :",k.get("username"))
        print("Password :",k.get("password","N/A"))
        print("Email :",k.get("email"))
        
        print("Login Successfully ✅")
    else:
        print("Password and Username required...")

login(password="pass125",username="dev@232",userid="798978")

Username : dev@232
Password : pass125
Email : None
Login Successfully ✅

In [52]:
# arbitray args
def mul(*a):
    print(a)
    m=1
    for i in a:
        m=m*i
    return m

res=mul(2,3,4)
print(res)

(2, 3, 4)
24

In [56]:
# 2.Take nothing return something
def fun():
    num1=10
    if False:
        return "Aman"
    else:
        return num1
res=fun()
print(res)

Aman

In [ ]:
# lambda functions (anonymous function)

# Lambda function is an anonymous function (nameless) in python.
# it is written by using lambda keywork instead of def.
# Syntax : lambda arguments : expression
# it can contain only one expression and it is linear.
# it automatically return the result of that expression.
# it cannot contains:
    # multiple expression
    # try/except
    # udf 
# Lambda function are mainly used for short and temporary logic.
# Mostly used with HOFs:
    # map()
    # filter()
    # reduce()

In [4]:
def add(a,b):
    print("Aman")
    print(a-b)
    return a+b
res=add(20,20)
print(res)

Aman
0
40

In [8]:
add=lambda a,b:a+b
print(add(34,4))

38

In [9]:
list_square=lambda num:[i*i for i in num]
print(list_square([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [10]:
def list_square(num):
    l=[]
    for i in num:
        l.append(i**2)
    return l
print(list_square([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [13]:
list_square=lambda num:[i*i for i in num]
print(list_square([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [16]:
even_numbers= lambda n :[i for i in n if i%2==0]
marks=[33,44,32,23,21,22]
print(even_numbers(marks))

[44, 32, 22]

In [ ]:
# HOF (Higher-order-functions)
 # filter()
 # map()
 # reduce()

In [ ]:
# HOF (Higher-order-functions).
A Higher-order-function (HOF) is a function that takes another
function and iter(list,tuple,set,string) as arguments , return function or iter.
 # filter(callback_function,iter)
 # map(callback_function,iter)
 # reduce(callback_function,iter,accu)

# Callback.
A callback is a function passed as an argument to another function.
A callback function not executed immediatly it is called later
by the reveiving function.

In [18]:
def pass_students(marks):
    pass_stu=[]
    for i in marks:
        if i>=50:
            pass_stu.append(i)
    return pass_stu
marks=[44,5,66,34,45,77,89,31,37,66,42]
res=pass_students(marks)
print(res)

[66, 77, 89, 66]

In [28]:
def pass_students(marks):
    return marks>=50

marks=[44,5,66,34,45,77,89,31,37,66,42]

res=filter(pass_students,marks)
print(list(res))

[66, 77, 89, 66]

In [ ]:
marks=[44,5,66,34,45,77,89,31,37,66,42]
print(list(filter(lambda n:n>=50,marks)))

In [33]:
# wap to filter out elements from a given list.
emp_names=["rohan","aman","kamal","shivani","monika"]
user_char="v"
def filter_name(n):
    new_name=[]
    for i in n:
        if user_char in i:
            new_name.append(i)
    return new_name
res=filter_name(emp_names)
print(res)

['shivani']

In [34]:
emp_names=["rohan","aman","kamal","shivani","monika"]
user_char="v"
def filter_name(n):
    return user_char in n
res=filter(filter_name,emp_names)
print(list(res))

['shivani']

In [35]:
emp_names=["rohan","aman","kamal","shivani","monika"]
user_char="v"
res=filter(lambda x:user_char in x,emp_names)
print(list(res))

['shivani']

In [4]:
my_list=[23,45,67,"43543",5,"Rohan",True,False,"apple",67.90]
def ele_sperate(elm):
    int_list=[]
    str_list=[]
    for i in elm:
        if type(i)==int:
            int_list.append(i)
        if type(i)==str:
            str_list.append(i)
    return [int_list,str_list]
    
res=ele_sperate(my_list)
print(res)
for i in res:
    print(i)

[[23, 45, 67, 5], ['aman', 'Rohan', 'apple']]
[23, 45, 67, 5]
['aman', 'Rohan', 'apple']

In [22]:
my_list=[23,45,67,"aman",5,"Rohan",True,False,"apple",67.90]

def int_sep(elm):
    if type(elm)==int:
        return True

def str_sep(elm):
    if type(elm)==float:
        return True

int_list=filter(int_sep,my_list)
str_list=filter(str_sep,my_list)

print(list(int_list))
print(list(str_list))

[23, 45, 67, 5]
[67.9]

In [43]:
def fun1():
    return "FUN1"
  
def fun2():
    return "FUN2"
def fun3():
    return False
    return "FUN3"
    

fun_list=[fun1,fun2,fun3]
result=any(i() for i in fun_list)
print(result)

True

In [7]:
my_list=[3,4,664,6,544,43,787]
# find evens using filter and lambda
even_value=filter(lambda x :x%2==0,my_list)
print(list(even_value))

[4, 664, 6, 544]

In [ ]:
my_list={2:"v",3:"v1"}

In [5]:
name_list=['aman', 'Rohan', 'apple']
new_name=map(lambda x:x.upper(),name_list)
print(list(new_name))

name_list=['aman', 'Rohan', 'apple']
new_name=map(lambda x:x.replace("a","m"),name_list)
print(list(new_name))

['AMAN', 'ROHAN', 'APPLE']
['mmmn', 'Rohmn', 'mpple']

In [11]:
nums=[45,55,34,55,78,23,70,43,65]
new_nums=map(lambda x:x+10 if x<=50 else x,nums)
print(list(new_nums))

[55, 55, 44, 55, 78, 33, 70, 53, 65]

In [14]:
old_stock={"apple":200,"orange":100,"grapes":200}
new_stock=map(lambda x:(x[0],x[1]-20) ,old_stock.items())
print(dict(new_stock))

{'apple': 180, 'orange': 80, 'grapes': 180}

In [16]:
old_stock={"apple":200,"orange":100,"grapes":200}
new_stock={k:v-20 for k,v in old_stock.items()}
print(new_stock)

{'apple': 180, 'orange': 80, 'grapes': 180}

In [ ]:
emails=[
    "user@gmail.com",
    "user@yahoo.com",
    "test@gmail.com",
    "root@teceno.com",
    "admin@bing.com",
    "aman@gmail.co",
]
new_emails=[]

In [ ]:
user_comments=[
    "This is the bad earphone i am dummy comment and i am very long",
    "who build this iphone i am dummy comment and i am very long",
    "item delivery very delay i am dummy comment and i am very long",
    "phone battery not working i am dummy comment and i am very long",
    "product are damage at delivery time i am dummy comment and i am very long"
]

In [17]:
num=1234567809871234
new_num=str(num)
formating="-".join([new_num[i:i+4] for i in range(0,len(new_num),4)])
print(formating)

1234-5678-0987-1234