In [5]:
str1="python"
count=0
for i in str1:

    count+=1
print(count)

6

In [11]:
num1=10
num2=20
for i in range(num1+1,num2):
    if i%2==0:
        print(i,end=" ")

12 14 16 18

In [6]:
str1='this is python'
vowel='aeiouAEIOU'
sum = 0
for i in range(len(str1)):
    if str1[i] in vowel:
        sum = sum+i
        print(str1[i],"-",i)
print("sum of all vowels",sum)

i - 2
i - 5
o - 12
sum of all vowels 19

In [16]:
str1 = "205476"
for i in range(len(str1)): 
    print(str1[i],i)
    # if str1[i]=="4":
    #     print(i)

2 0
0 1
5 2
4 3
7 4
6 5

In [22]:
#C = 5/9 (Â°F - 32)
user= 95 
temp=(user-32)*5/9
print(temp)

35.0

In [47]:
speed=65
dis=180
time=dis/speed
hours=int(time)
minutes=(time - hours) * 60
print(minutes)
print(f"Time take : {hours}.{minutes:.0f} minutes")

46.153846153846146
Time take : 2.46 minutes

In [5]:
s=["apple","eat",42,50]
i=0
l=[]
for i in range(len(s)):
    if type(s[i])== int:
        l.append(s[i])
for i in range(len(s)):
    if type(s[i])== str:
        l.append(s[i])
print(l)

[42, 50, 'apple', 'eat']

In [10]:
s=["apple","eat",42,50]
sum1=0
for i in range(len(s)):
    if type(s[i])== int:
        sum1+=s[i]
s.append(sum1)
print(s)

IndexError: pop index out of range

In [44]:
list1 = ['1odd', '2even', '3odd', '4even', '5odd', '6even', '7odd']
list2 = []
str1 = ""
for i in list1:
    for j in i:
        if j in "0123456789":
            list2.append(int(j))
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [39]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
b=[]
for i in a:
    if(i%2==0):
        b.append(str(i)+'even')
        
    else:
        b.append(str(i)+'odd')
        
        
print(b)

['1odd', '2even', '3odd', '4even', '5odd', '6even', '7odd', '8even', '9odd', '10even', '1odd', '2even', '3odd', '4even', '5odd']

In [48]:
lst1=['orbex','botex','ankita']
lst=[]
for i in range(1,len(lst1)):
    if i in 'aeiou':
        lst.append(i)
        print(lst)

TypeError: 'in <string>' requires string as left operand, not int

In [16]:
str1 = "this    is python"
# str2 = str1.replace("i", "t")
# print(str2.strip())
# str3 = str2.replace(" ","")
# print(str3)
str2 = "".join(str1)
print(str2)

this    is python

In [28]:
stu_name="karan tarun aman shivam"
new_stu=stu_name.split()
# print(new_stu)
temp = []
# for i in new_stu:
#     temp.append(i.capitalize())

# print(temp)

temp = [ i.capitalize() for i in new_stu ]
print(temp)

['Karan', 'Tarun', 'Aman', 'Shivam']

In [36]:
name="this is python"
vowel=[]
n=0;c=0
for i in name:
    if i in "aeiou":
        n+=1
    else:
        c+=1
vowel.append(n)
vowel.append(c)
print(vowel)

[3, 11]

In [1]:
# all method 
# 1. append :- it add element in  the last of the list
# 2. extend :- it add bulk element in the last of list
# 3. insert :- it add element in the list by with giving indexing
# 4. remove :- it remove element from the list by giving value
# 5. count :- it count the element in a list that we want to check
# 6. index :- to works and find index and slicing with index also
# 7. reverse : it reverse the list of element
# 8. sort : - it sort the list

# methods of sets
# add
# union
# intersection
# intersection update
# symmetric difference
# symmetric difference update
# difference
# difference update
# discard
# update
# issuperset
# issubset
# isdisjoint
# clear
# copy()

In [ ]:
# string
# upper
# Lower
# isupper
# islower
# isalpha
# isdigit
# isalnum
# swapcase
# removesuffix
# removeprefix
# title
# capitalize
# remove
# join
# split
# strip
# lstrip
# rstrip
# startswith
# endswith
#

In [ ]:
#dictionary
#key()
#value()
# popitem()
#clear()
#get()
#zip()
#update()
#pop()
#items
#copy
#fromkey
#setdefault

In [ ]:
#tuple
#count
#index

In [10]:
var = -10
if var>=0:
    print("positive")
else:
    print("negative")

negative

In [11]:
num1=int(input("enter number"))
num2=int(input("enter number"))
if num1>num2:
    print("num1 is greater",num1)
else:
    print("num2 is greater",num2)

enter number 2
enter number 3

num2 is greater 3

In [21]:
num1=5
num2=2
num3=6
if num1>num2 and num1>num3:
    print("num1 is greatest:",num1)
elif num2>num3 and num2>num1:
    print("num2 is greatest:",num2)
else:
    print("num3 is greatest:",num3)

num3 is greatest: 6

In [22]:
num=291102
res=num%10
print(res)

2

In [30]:
lst=[12,355,45,657,66]
res=''
for i in lst:
    if i
    res+=str(i)
print(res)

123554565766

In [31]:
num4 = "123554565766"
dupli = ""
for i in num4:
    if i not in dupli:
        dupli += i
print(dupli)

1235467

In [45]:
list1=["apple","orange","banana"]
new_list = []
for i in range(len(list1)-1,-1,-1):
    # print(list1[i])
    new_list.append(list1[i])
print(new_list)

['banana', 'orange', 'apple']

In [58]:
list1=["apple","orange","banana"]
c=""
for i in list1:
    for ch in i:
        if ch in "AEIOUaeiou":
            c+=ch
print(c,end=" ")

aeoaeaaa