In [6]:
a=12
print(a)
a="dev"
print(a)
a=23
print(a)
print(id(a))

12
dev
23
140731050194536

In [8]:
# 23="dev"
# print(23)
# # A variable cannot start with number.

In [13]:
# xy@z="dev"
# print(xy@z)
# A variable cannot start or include with any symbol, except(_).

In [17]:
# user name="dev"
# print(user name)
# A variable cannot include whitespace with any symbol.

In [20]:
# if="Dev"
# print(if)
# # A variable cannot be any python defined keyword.

In [ ]:
# wap to add two numbers.
# wap to add three numbers.
# wap to add four numbers.
# wap to subtraction two numbers.
# wap to multiplication two numbers.
# wap to add two numbers and result of those numbrs mutilply 6.

num1=20
num2=30
res=num1+num2
print(f"Sum of {num1} and {num2} is : {res}")
print("Sum of",num1, "and", num2 , "is :",res)
print(type(res))

In [24]:
# Data Types in python
# 1.string str()
# 2.number (integer int(),float,float())
# 3.boolean (True,False)

In [24]:
# 1.string str()
str1='dev'
str2="Python '1919' programming"
str3="""Python "67" '878'  Programming"""
str4='''Python "78" prorimming'''

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Dev
Python '1919' programming
Python "67" '878'  Programming
Python "78" prorimming
this is python Python "87987" programming

In [19]:
text='''Lorem Ipsum is simply dummy text of 
the printing   "and"                      typesetting industry.
Lorem Ipsum has           been the industry's
standard dummy text ever since the 1500s,'''
print(text)

Lorem Ipsum is simply dummy text of
the printing   "and"                      typesetting industry.
Lorem Ipsum has           been the industry's
standard dummy text ever since the 1500s,

In [48]:
str5=f"this is python {str1}"
print(str5)

this is python Dev

In [49]:
str4="This""is""python"
print(str4)

Thisispython

In [53]:
str5=f"t{str1}"""
print(len(str5))

4

In [55]:
str4="This"" ""python"
print(len(str4))

_IncompleteInputError: incomplete input (230105954.py, line 1)

In [62]:
# 2.number (integer int(),float,float()).
num1=56
print(num1)
print(type(num1))

num2=56.68
print(num2)
print(type(num2))

56
<class 'int'>
56.68
<class 'float'>

In [72]:
var2=
var2="python"
print(var2)
var2=8798
print(var2)

python
8798

In [69]:
print(var2)

8798

In [84]:
# 3.boolean (True,False).
b1=True
b2=False*True*True
print(b2)
print(b1+b2)

0
1

In [89]:
num1=5
num2="50"
res=num1+num2
print(res)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
var3=None
print(var3)
var3="aman"
print(var3)

None
aman

In [ ]:
# Type casting and Type conversion.

Type casting
# Type casting coverting one data type into another by use.
# bigger data into smaller data type
# it performs by using defined method str(),int(),float()

Type converstion
# Type converstion is done by implicit , automatically
# Converting smaller data into bigger data type automatically.
# It performs by interpreter

In [5]:
# Type casting
mob_num=908887867
new_num=str(mob_num) # Type casting
print(len(new_num))
print(mob_num)
print(type(new_num))

9
908887867
<class 'str'>

In [12]:
# Type converstion
num1=200
num2=2.0
res=num1+num2
print(res)
print(type(res))

202.0
<class 'float'>

In [ ]:
# methods for Typecasting
str()
int()
float()
bool()

In [15]:
# var1=200
# var2=300
# var3=100
# print(var4)
# print(var1)
# print(var3)

In [16]:
user_mob="89888989"
new_num=int(user_mob)
print(len(new_num))

TypeError: object of type 'int' has no len()

In [ ]:
# I/O Operation.

In [ ]:
input()
# It take data from user intractively.
# By default input() returns string data.

In [25]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
total = num1+num2
print(total)

ValueError: invalid literal for int() with base 10: ''

In [21]:
num1=float(input("Enter first number : "))
num2=float(input("Enter second number : "))
total = num1+num2
print(total)

Enter first number :  20
Enter second number :  12

32.0

In [23]:
num1=int(input("Enter first number : "))
num2=float(input("Enter second number : "))
total = num1+num2
print(total)

Enter first number :  50
Enter second number :  34.6

84.6

In [ ]:
# Operators in python
# 1.Arithmatic operator (+,-,*,**,/,//,%)
# 2.Comparision operator
# 3.Logical operator
# 4.Membership operator
# 5.Idenitity operator
# 6.Assignment operator
# 7.Bitwise Operator

In [40]:
# 1.Arithmatic operator (+,-,*,**,/,//,%)
num1=5
print(num1**2)

25

In [29]:
num=10
num2=5
res = num//num2
print(res)

2

In [44]:
num=10
num2=7
res = num/num2
print(f"{res:.4f}")

1.4286

In [ ]:
# Summary
# Variable and its rules
# Data types
# Type casting and conversion
# IO operations 
# Operators (Arithmatic,Comparision)

In [4]:
num1 = int(input("Enter num1"))
res= num1%100
print(res)

Enter num1 34

34

In [17]:
# 2.Comparision operator ( == , > , < , >= ,<= , != ) SA
num1=56
num2=55
res= num1<=num2
print(res)

False

In [4]:
user1=67
user2=89
res=user1<user2
print(res)

True

In [ ]:
# 3.Logical operator (and , or , not)
and = it returns True when all condition are true otherwise false
or = it returns True when any condition become true otherwise false
not = it reverse the result true=false and false=true

In [ ]:
# conditional statement 
if else elif
multiple condition
nested condtition
# if conditions:
#     statements

In [33]:
if 200:
    print("Ha hai")
else:
    print("Nhi hai")

Ha hai

In [37]:
num1=20
num2=30
if (num1>30) or (num2>10) and (num1>num2):
    print("Ha hai")
else:
    print("Nhi hai")

Nhi hai

In [29]:
res=not(num1>num2)
print(res)

True

In [41]:
n1=10
n2=100
if (n1>40) and (100>50) or (56>n2) :
    print("Ha Hai")
else:
    print("Nhi hai")

Nhi hai

In [57]:
# 4.Membership operator (in , not in)
email="ysdevn@gmil.com"
if "@gmil.com" not in email:
    print("Hai")
else:
    print("Nhi hai")

Nhi hai

In [50]:
r=(n1>40) and (100>50) or (56>n2)
if aman=="aman":
    print("Ha hai")

NameError: name 'aman' is not defined

In [2]:
a = 10 
if(a%2 == 0):
    print("this is a even number")
else:
    print("this is odd number")

this is a even number

In [3]:
a =2
b = 3
c = 4
if(a>b) and (a>c):
    print(a, "is the gratest number")
if(b>a) and (b>c):
    print(b," is the gratest number")
else:
    print(c,"is the greatest number")

4 is the greatest number

In [60]:
var= "Dv"
if "e" in var or "a" in var:
    print("vowel hai")
else:
    print("Vowel nhi hai")

Vowel nhi hai

In [16]:
# 5.Idenitity operator.
a=None
b=None
print(id(a))
print(id(b))
# print( a is b)
print( a is b)

140708700418544
140708700418544
True

In [23]:
# 6.Assignment operator. (+=,-=,*= ...)
# n=20
# n=n+10 # standard method
# print(n)

n=20
n+=10 # shorthand method
print(n)

30

In [35]:
# multiple if
num=100
if num > 50:
    print("Yes-2")
if 100 > 200:
    print("Yes-3")
else:
    print("Nothing")   
if num < 50:
    print("Yes-1")
else:
    print("No")

Yes-2
Nothing
No

In [48]:
num=100
if num > 50:
    print("Yes-2")
elif num > 20:
    print("Yes-3")
elif num > 50:
    print("Yes-1")
elif num > 30:
    print("Yes-4")

elif num > 40:
    print("yes-5")
elif num < 50:
    print("Yes-1")
else:
    print("No")

Yes-2

In [ ]:
num=100
if num > 40:
    print("YES-1")
else:
    print("NO-1")

if num > 40:
    print("YES-1")
else:
    print("NO-1")

if num > 40:
    print("YES-1")
else:
    print("NO-1")

In [ ]:
import time
import pyautogui
from datetime import datetime
from pathlib import Path

out = Path("screens")
out.mkdir(exist_ok=True)

while True:
    ts = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
    img = pyautogui.screenshot()
    img.save(out / f"screen_{ts}.png")
    time.sleep(30)